body {
  font-family: 'Muli', sans-serif;
  background-color: #111111;
  color: #eeeeee;
}

#intro {
  text-align: center;
}


#gallery {
  text-align: center;
}

img {
  width: 50%;
  height: 50%;

}


div#cicada img, div#beginning img, div#chessmate img, div#cosinelamp img,
div#imagine img, div#killai img, div#naturegame img, div#origin img,
div#water img, div#ugly img{
  transform: rotate(90deg);
}

#outro {
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
