body {
  font-family: 'Muli', sans-serif;
  background-color: #111111;
  color: #eeeeee;
}

#intro {
  text-align: center;
}


#gallery {
  text-align: center;
}

img {
  width: 50%;
  height: 50%;

}


#outro {
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
