html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #eeeeee;
  color: #111111;
  font-size: 140%;
}

img#megaman {
  position: absolute;
  left: -30%;
}

h1 {
  text-align: center;
  margin-bottom: 3px;
}

h2 {
  text-align: center;
  font-size: 120%;
  color: #666666;
  margin-top: 3px;
}



p.code#java {
}

p.code#python {
  display: none;
}

p.code#brainfuck {
  display: none;
}

p.code#mond {
  display: none;
}

p.code#c {
  display: none;
}

p.code#cr {
  display: none;
}

p.code#js {
  display: none;
}

p.code#asm {
  display: none;
}

div.top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 5%;

}

div.left {
  margin-left: 15%;
  text-align: left;
  padding: 5px 5px 5px 5px;
  /*background-color: #dddddd;*/
}

div.code {
  margin-left: 15%;
  text-align: left;
  padding: 10px 10px 10px 10px;
  /*background-color: #dddddd;*/
}

div.bottom {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 3%;
}

div.project {
  margin-right: 15%;
  text-align: right;
  padding: 10px 10px 10px 10px;
  /*background-color: #dddddd;*/
}

div.other {
  margin-right: 15%;
  text-align: right;
  padding: 5px 5px 5px 5px;
  /*background-color: #dddddd;*/
}

div.project a, div.other a {
  color: #111111;
  text-decoration: none;
}

div.project a:visited, div.other a:visited  {
   color: #111111;
}

div.project a:hover, div.other a:hover {
  color: #777777;
}
span#desc {
  font-size: 90%;
  color: #555555;
}


@media only screen and (max-width: 1150px) {
  div.top {
    flex-flow: column;
  }
  div.bottom {
    flex-flow: column;
  }
}
