html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #eeeeee;
  color: #111111;
  font-size: 100%;
}

img#megaman {
  position: absolute;
  left: -30%;
}

h1 {
  text-align: center;
  margin-bottom: 3px;
}

h2 {
  text-align: center;
  font-size: 120%;
  color: #666666;
  margin-top: 3px;
}

p {
  text-align: center;
}

p.code {
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
}

 a {
   text-decoration-line: none;
   background-color: #cccccc;
   border-style: solid;

 }

 a:visited {
   color: #111111;
 }

a:hover {
  background-color: #111111;
}
